@import url('https://fonts.googleapis.com/css?family=Roboto');


body, h1,h2,h3,h4,h5, a {
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ADD BELOW THIS LINE */
body{
    background-color: black;
    color: white;
    font-size: 1em;
}

p {
    padding-bottom: 15px;
}

.bg-black{background-color: black}

.text-black{color: black}
.text-white{color: white}

a{text-decoration: none}
.navbar{ 
  padding: 5px;
  margin: 0px;
  top: 0;
}

.button {
  background-color: #892736;
  text-align: center;
  font-size: 1em;
  opacity: 1;
  transition: 0.3s;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.button:hover {opacity: 0.6}

.hover:hover{
    transition: .5s ease;
    color:#892736;
    opacity: 0.6;
}

.navbar a{
   display:inline-table;
   vertical-align:middle;
   padding: 5px;
}   



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .fullscreen-bg {
    min-height: 100%;
    background-image: url(images/bg-city.jpg);
  }
    

}

* {
    box-sizing: border-box;
}



.fullscreen-bg {
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.fullscreen-bg__video {
  min-height: 100%;
  min-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.shadow-hover:hover{
box-shadow:
1px 1px #373737,
2px 2px #373737,
3px 3px #373737,
4px 4px #373737,
5px 5px #373737,
6px 6px #373737;
-webkit-transform: translateX(-3px);
-webkit-transform: translateY(-3px);
transform: translateX(-3px);
transform: translateY(-3px);
transition: .5s ease;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  padding: 20px 0;
  vertical-align: middle;
}



